<footer class="border-t py-4">
    <div
        class="container flex flex-col items-center justify-between gap-1 sm:flex-row"
    >
        <p class="text-muted-foreground text-sm">
            © {new Date().getFullYear()} Kings World. All rights reserved.
        </p>

        <div class="text-muted-foreground flex items-center gap-4 text-sm">
            <a href="/legal/terms-of-service/">Terms of Service</a>
            <a href="/legal/privacy-policy/">Privacy Policy</a>
        </div>
    </div>
</footer>
