<!-- <footer class="py-6 md:px-8 md:py-0">
    <div class="container flex flex-col items-center justify-between gap-4 md:h-24 md:flex-row">
        <p class="text-balance text-center text-sm leading-loose text-muted-foreground md:text-left">
            Made with and heavily inspired by{" "}
            <a
                href="https://ui.shadcn.com"
                target="_blank"
                rel="noreferrer"
                class="font-medium underline underline-offset-4"
            >
                shadcn/ui
            </a>
            !
        </p>
    </div>
</footer> -->

<footer class="border-t py-4">
    <div class="container flex flex-col sm:flex-row items-center justify-between gap-1">

            <p class="text-sm text-muted-foreground">© {new Date().getFullYear()} Kings World. All rights reserved.</p>

            <div class="flex gap-4 text-sm items-center text-muted-foreground">
                <a href="/legal/terms-of-service">Terms of Service</a>
                <a href="/legal/privacy-policy">Privacy Policy</a>
            </div>
    </div>
</footer>


<!-- <footer className="w-full border-t py-6 md:py-0">
    <div className="container flex flex-col items-center justify-between gap-4 md:h-24 md:flex-row">
      <div className="flex items-center gap-2">
        <Crown className="h-5 w-5 text-primary" />
        <p className="text-sm text-muted-foreground">© 2024 Kings World. All rights reserved.</p>
      </div>
      <div className="flex gap-4">
        <Link href="#" className="text-sm font-medium text-muted-foreground underline-offset-4 hover:underline">
          Terms
        </Link>
        <Link href="#" className="text-sm font-medium text-muted-foreground underline-offset-4 hover:underline">
          Privacy
        </Link>
        <Link href="#" className="text-sm font-medium text-muted-foreground underline-offset-4 hover:underline">
          Contact
        </Link>
      </div>
    </div>
  </footer> -->
