<footer class="border-t py-4">
    <div class="container flex flex-col sm:flex-row items-center justify-between gap-1">

            <p class="text-sm text-muted-foreground">© {new Date().getFullYear()} Kings World. All rights reserved.</p>

            <div class="flex gap-4 text-sm items-center text-muted-foreground">
                <a href="/legal/terms-of-service">Terms of Service</a>
                <a href="/legal/privacy-policy">Privacy Policy</a>
            </div>
    </div>
</footer>
