---
import { mainNav } from "~/lib/constants";
import { cn } from "~/lib/utils";
---

<div class="hidden items-center md:flex">
    <a href="/" class="mr-4 flex items-center space-x-2 lg:mr-6 font-bold">Kings World</a>
    <nav class="flex items-center gap-4 text-sm lg:gap-6">
        {mainNav.map(item => (
            <a href={item.href} class={cn(
                "transition-colors hover:text-foreground/80",
                Astro.url.pathname === item.href && !item.disabled
                    ? "text-foreground"
                    : "text-foreground/60",
                    item.disabled && "cursor-not-allowed"
            )} aria-disabled={item.disabled} title={item.title}>{item.name}</a>
        ))}
    </nav>
</div>
