---
import Navbar from "~/components/Navbar.astro";
import Layout from "./Layout.astro";
import Footer from "~/components/Footer.astro";

import type { Props } from "./Layout.astro";

const props = Astro.props;
---

<Layout {...props}>
    <Navbar />
    <main class="flex flex-1 flex-col">
        <slot />
    </main>
    <Footer />
</Layout>
